<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Dot FNB Terms and Conditions</title>
<link rel="stylesheet" type="text/css" href="style.css">
<style type="text/javascript">
body {
	margin:0;
	padding:0;
}
.yellowbg {background-color: yellow}
</style>

</head>

<body class="terms_conditions" >
<div style="height:393px; width:964px; overflow-y:scroll; padding-right:30px;">
<h2>COMPETITION  RULES</h2>
<strong>dotFNB  Nicolway promotion</strong><br />
<strong>Amended: 25  April 2012</strong>
<p>By taking part in this competition, you confirm that you have read and understood the rules of this competition and agree to be legally bound to them (&ldquo;the rules&rdquo;).</p>
<p><strong>The Competition Period:</strong></p>
<p>The competition will start at 09h00 on 26 April 2012.<br />
The competition will end at 19h00 on 10 May 2012 or once all the available prizes have been awarded.</p>
<p><strong>How to Enter?</strong><br />
  There are 2 ways to enter:</p>
<ul>
  <li>Visit FNB&rsquos;s new dotFNB store at the Nicolway Mall between 26 April and 10 May 2012 during the store&rsquos;s operating hours and &ldquo;pop the dot&rdquo; on the iPad in the store with the consultant, to see what prize you have won.</li>
  
  <li>Download the Foursquare app onto your <em>compatible smart phone</em>* from the App store and register between 09h00 on 26 April 2012 and 19h00 on 10 May 2012. If you also visit (check in to) the new dotFNB store at the Nicolway Mall you will also stand in line to win a bigger prize. The more you check in (visit the store) the greater chance you have of becoming a mayor and winning the iPad 2. <u>Note: You will need to visit our concept store in the Nicolway Mall to claim your prize.</u></li>
  
</ul>
<p><em>Note: To register on Foursquare you must have one of these Smart phones: iPhone, Android, Blackberry, Nokia OVI and Palm. You are responsible for the cost of any equipment or services you need to take part in the competition, including data or calls.</em><br />
  <br />
  Note: The prizes differ depending on how you enter. (<em>See prizes below</em>)<br />
  <br />
You can only win one prize even if you enter more than once.<br />
<br />
    <u>Note</u>: This competition  is <u>only</u> being run at our new Nicolway store which is at Shop No. L31,Nicolway Mall, Corner William Nicol and Wedgewood Blink.</p>
<p><strong>Who is allowed to take part in this  competition? </strong><br />
  Anybody may enter the promotion whether they are an FNB customer or not. <br />
  If you are not yet 18 you are only allowed to enter if your parent or  legal guardian agrees to this. By entering you confirm that your parent or  legal guardian consents to you taking part in his competition. You will be  disqualified and will forfeit (give up) any prize if you lie about this.<br />
  <br />
  <span style="background-color:yellow" class="yellowbg">The following persons may not take part in this competition: They will  automatically be disqualified and will forfeit (give up) any prize: </span></p>
<ul>
  <li style="background-color:yellow" class="yellowbg">Directors, members, employee, agents of, or consultants to  FirstRand Bank Limited (the Bank) their promotional partners and printers,  their advertising and their immediate families, including spouses, life  partners, parents, children and siblings.</li>
  <li style="background-color:yellow" class="yellowbg">Any other person who directly or indirectly controls, or is  controlled by the Bank.</li>
  <li style="background-color:yellow" class="yellowbg">Any supplier of goods and services in connection with this  promotion.</li>
</ul>
<p>If your name was chosen in the draw and  you didn&rsquo;t meet the criteria above or you were not allowed to enter, you will  automatically be disqualified and another winner will be chosen in your place.<br />
  <br />
    <strong>Prizes:</strong><br />
The prizes cannot be exchanged or redeemed for cash.</p>
<p>Persons who enter pop the dot at the dotFNB store stand a chance of  winning ONE of the following prizes: </p>
<ul>
  <li>One of one iPad 2. </li>
  <li>One of up to 80 x R 250 Nicolway shopping vouchers</li>
  <li>One of up to 40 x R 500 Nicolway shopping vouchers </li>
  <li>One of up to 900x 4 Gig memory sticks.</li>
</ul>
<p>Persons who enter on Foursquare using their smart phone stand a chance  of winning the following prizes depending on the category they fall into:</p>
<table border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="312" valign="top"><br />
        <strong>Category</strong> </td>
    <td width="319" valign="top"><p><strong>&nbsp;</strong></p></td>
  </tr>
  <tr>
    <td width="312" valign="top"><p>Newbie (The first 100 people who register) </p></td>
    <td width="319" valign="top"><p>One of 100 4GIG memory sticks</p></td>
  </tr>
  <tr>
    <td width="312" valign="top"><p>Check in Specials</p></td>
    <td width="319" valign="top"><p>One of 40 R 250 Nicolway Shopping Vouchers</p></td>
  </tr>
  <tr>
    <td width="312" valign="top"><p>Mayor* </p></td>
    <td width="319" valign="top"><p>One of 1 iPad 2. </p></td>
  </tr>
</table>
<p><em>Mayorships are based on the most *days* with check-ins in while the competition is running (you could have more  check-ins overall but fewer check-ins while the competition is running). Keep  in mind that you might find yourself neck and neck with another user who is checking in to the venue often.&nbsp; To be  eligible, the setting &quot;Participate in Foursquare Mayorships&quot;must be  checked and you must have a profile photo. Make sure you aren't checking in  privately (&quot;off the grid&quot;). Off the grid check-ins do not count  towards the Mayorship tally and will not unlock a Mayorship. When you check in,  make sure to select Yes to &quot;Share with friends?&quot; and you should be  able to unlock a crown. Only users who have legit check-ins (no rapid-fire  check-ins, no drive-by check-ins, and no fake check-ins) will be eligible.</em><br />
  <br />
    <strong>How are winners chosen? </strong><br />
  If you entered at our dotmobi concept store: Your prize will immediately  be selected by random draw during the pop in. If you entered using Foursquare: Your  prize will be selected by means of a random draw. You will be notified on  Foursquare. <u>Note: You will need to visit our concept store in the Nicolway  Mall to claim your prize.</u> The customer who checks in most at the branch (is  the Mayor) will win the iPad 2. <br />
  <br />
  <strong>How will the winners be notified?</strong><br />
  Winners will be notified immediately. Winners may be asked to take part in publicity for the promotion but they have the right to refuse.<br />
  <br />
  <strong>How will we deliver  the winners prize to them or how can a confirmed winner collect / claim their  prize?</strong><br />
  Winners who play in the branch and win the Nicolway shopping vouchers and 4  Gig memory sticks will receive their prize immediately. The iPad 2 will only be  delivered to the winner within 72 hrs of FNB successfully confirming his or her  identity. A copy of your Identification (Identity Document, passport or Drivers  license) will be required for verification purposes. <em>Note: Persons who enter via Foursquare need to visit the branch to  claim their prize(s).</em><u></u><br />
  <br />
  <strong>What happens if the promoter cannot  contact the winner or if the winner is not able to take up the prize?</strong><br />
  If the promoter cannot deliver the prize or if a winner doesn&rsquo;t collect  or claim the prize, within 30 (thirty) days after being notified of winning, he  / she will lose the prize and another winner will be chosen. Proof of identity  will be required when collecting a prize.</p>
<strong>Other:</strong>
<ul>
  <li>The judges&rsquo; decision is final.</li>
  <li>FNB reserves the right to change the rules of the  competition. FNB can change the rules of the competition throughout the  duration of the competition. For convenience only, the date on which these  rules were last amended will be shown below the heading. It is your  responsibility to check the rules for amendments.</li>
  <li>The clauses in these rules are severable. This means that if  any clause in these rules is found to be</li>
  <li>unlawful, it will be removed and the remaining clauses will  still apply.</li>
  <li>Where any dates or times need to be calculated in terms of  this agreement, the international standard time: GMT plus two hours will be  used.</li>
  <li>While FNB may allow you extra time to comply with your  obligations or decide not to exercise some or all of its rights, FNB can still insist  on the strict application of any or all of our rights at a later stage. You  must not assume that this means that FNB&rsquo;s agreement with you has changed or  that it no longer applies to you.</li>
  <li>You must send all legal notices to FNB Legal, 3rd Floor, No  1 First Place, Bank City, Johannesburg,  2001. FNB will send legal notices to the addresses or numbers you gave FNB when  you opened your account. </li>
  <li>These rules and this competition is governed by the law of  the Republic of South Africa.</li>
</ul>

</div>
</body>
</html>
